<footer class="footer">
  <div class="p2 wrap">
    <div class="measure mt1 center">
      <style>
        .footer-logo { width: 100px; }
      </style>
      <small>
        <a href="{{ site.cto_coffee.baseurl }}">
          <img src="/static/img/cto-coffee/coffee-logo.svg" class='footer-logo' alt="cto.coffee logo">
        </a>
        <br>
        {{ site.cto_coffee.description }}. A project by <a href="/about">Benjamin</a>
        <br>
        <a href="/impressum/">Impressum</a>
      </small>
    </div>
  </div>
</footer>
