<footer class="footer">
  <div class="p2 wrap">
    <div class="measure mt1 center">
      <small>
        <img src="/static/img/sv-logo_small.png" alt="squeakyvessel logo">
        <br>
        {{ site.description }}
        <div class="social-icons">
          <a class="fa fa-github" href="https://github.com/{{ site.github_username }}"></a>
          <a class="fa fa-rss" href="{{ "/feed.xml" | prepend: site.baseurl }}"></a>
          <a class="fa fa-twitter" href="https://twitter.com/{{ site.twitter_username }}"></a>
        </div>
        <a href="{{ site.baseurl }}/impressum/">Impressum</a>
      </small>
    </div>
  </div>
</footer>
